### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [35]:
#create DF and show the total number of players by looking at the unique SN's 

total_players_df = pd.DataFrame(
                    {"Total Players" : [purchase_data['SN'].nunique()]
                    })
                      
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:
#Unique Items purchased / how many times they were purchased
unique_items_df = pd.DataFrame(
                    {"Number of Unique Items" : [purchase_data['Item Name'].nunique()], 
                     "Average Purchase Price" : [purchase_data['Price'].mean()],
                     "Total Number or Purchases" : [purchase_data['Purchase ID'].count()],
                     "Total Revenue" : [purchase_data['Price'].sum()]
                    })

#format as percentage 
unique_items_df["Average Purchase Price"] = unique_items_df["Average Purchase Price"].map('${:.2f}'.format)
unique_items_df["Total Revenue"] = unique_items_df["Total Revenue"].map('${:.2f}'.format)

unique_items_df

,Number of Unique Items,Average Purchase Price,Total Number or Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [76]:
#total_players holds my count of all the total players in the game (unique SN's)

#drop duplicate SN's
unique_sn = purchase_data.drop_duplicates(subset=['SN'])

#calculate total number of unique players for percentage calculations
total_unique = unique_sn['SN'].count()

#create DF 
gender_demographics_df = pd.DataFrame(unique_sn['Gender'].value_counts())

#calculate and add column with percentages 
gender_demographics_df['Percentage of Players'] = (gender_demographics_df["Gender"] / total_unique)
                                                                                                                                             
#rename column
gender_demographics_df = gender_demographics_df.rename(columns={"Gender" : "Total Count"})

#format as percentage 
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map('{:,.2%}'.format)

#show final table
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame